<p>
  <b>Address:</b>
  <%=h @location.address %>
</p>

<p>
  <b>Ip address:</b>
  <%=h @location.ip_address %>
</p>

<p>
  <b>Lat:</b>
  <%=h @location.lat %>
</p>

<p>
  <b>Lng:</b>
  <%=h @location.lng %>
</p>

<p>
  <b>Locatable:</b>
  <%=h @location.locatable_id %>
</p>

<p>
  <b>Locatable type:</b>
  <%=h @location.locatable_type %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>